@import "tailwindcss";

.recent-scroll::-webkit-scrollbar {
  height: 6px;
}
.recent-scroll::-webkit-scrollbar-track {
  background: #1f2937;
}
.recent-scroll::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}
.recent-scroll::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
